<div class="p-3 shadow rounded">
  <h1 class="text-lg font-bold">
    <%= training_resource.id %>: <%= training_resource.title %>
  </h1>
  <p>
    <%= training_resource.short_description %>
  </p>
</div>
