<div class="p-3 shadow rounded h-40">
  <h1 class="text-lg font-bold">
    <%= training_resource.id %>: <%= training_resource.title %>
  </h1>
  <p>
    <%= training_resource.short_description %>
  </p>
  <div class="flex gap-0.5">
    <% training_resource.tags.each do |tag| %>
      <div class="px-1 py-1 rounded text-xs bg-gray-800 text-white"><%= tag.name.titleize %></div>
    <% end %>
  </div>
</div>
