<% content_for :title, "Editing training resource" %>

<h1>Editing training resource</h1>

<%= render "form", training_resource: @training_resource %>

<br>

<div>
  <%= link_to "Show this training resource", @training_resource %> |
  <%= link_to "Back to training resources", training_resources_path %>
</div>
