<p style="color: green"><%= notice %></p>

<% content_for :title, "Training resources" %>

<h1>Training resources</h1>
<%= link_to "New", new_training_resource_path %>

<div class="grid grid-cols-3 gap-4">
  <% @training_resources.each do |training_resource| %>
    <%= link_to((render training_resource), training_resource)%>
  <% end %>
</div>
