<% content_for :title, "New training resource" %>

<h1>New training resource</h1>

<%= render "form", training_resource: @training_resource %>

<br>

<div>
  <%= link_to "Back to training resources", training_resources_path %>
</div>
