 <nav class="p-8 flex gap-8">
  <%= link_to 'Home', root_path, class: 'font-bold text-lg' %>
  <%= link_to 'Training Resources', training_resources_path(page: 1, per_page: 9), class: 'font-bold text-lg' %>
</nav> 