 <nav class="p-8 flex justify-between items-center">
  <div class="flex gap-8">
    <%= link_to 'Home', root_path, class: 'font-bold text-lg' %>
    <%= link_to(
      'Training Resources',
      training_resources_path(page: 1, per_page: 9),
      class: 'font-bold text-lg'
    ) %>
  </div>
  <% if session[:user_id].present? %>
    <div class="flex gap-4">
      <%= link_to("Profile", edit_user_path(session[:user_id]), class: 'font-bold text-l') %>
      <%= button_to("Logout", logout_path, method: :delete, class: 'font-bold text-l') %>
    </div>
  <% end %>
</nav> 