<% if notice.present? %>
  <div data-controller="notice">
    <div
      data-notice-target="notice"
      class="absolute text-center text-lg bg-white inset-x-0 top-5 p-2 m-4 border rounded"
    >
      <%= notice %>
      <button class="float-end" data-action="click->notice#clearNotice">&#10006;</button>
    </div>
  </div>
<% end %>